
.bestest_timer_button {
    height: 24px;
    background-color: white;
    border: 0px;
    border-radius: 3px;
}

.bestest_timer_dialog label {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
}

.bestest_timer_dialog .ui-dialog-titlebar-close {
  display: none;
}